---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Gallery from '../components/Gallery.astro';
import Reviews from '../components/Reviews.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Micropigmentare Buze și Sprâncene Ploiești | Paula Lupu - Specialist din 2016">
	<Header />
	<main>
		<Hero />
		<Services />
		<About />
		<Gallery />
		<Reviews />
		<Contact />
	</main>
	<Footer />
</Layout>
